*{
    margin:0;
    padding:0;
}

section{
    height:30vh;
}

.graySection{
    background-color:rgb(216, 216, 216);
    padding:30px;
}

.blueBox{
    height:100px;
    width: 100px;
    background-color:rgb(90, 144, 220);
    margin-left: 30px;
}

main{
    height:21vh;
    font-size: x-large;
    text-align: center;
    font-family: 'Lucida Sans';
    padding-top: 40px;
    padding-left:40px;
    padding-right:40px;
}

.blueSection{
    background-color:rgb(90, 144, 220);
}

.aquaSection{
    background-color:rgb(124, 224, 195);
}

.oliveSection{
    background-color: rgb(194, 230, 145);
}

.yellowSection{
    background-color: rgb(246, 230, 82);
}